aiodocker          
aiofiles            
aiogram             
aiohttp             
aiolimiter          
aiosignal           
annotated-types     
anyio               
APScheduler    
asyncio           
attrs               
bcrypt         
cachetools        
certifi             
cffi                
charset-normalizer 
colorama           
cryptography       
discord           
discord.py          
docker            
frozenlist          
h11                
h2               
hpack             
httpcore          
httpx               
hyperframe          
idna               
keyboard            
magic-filter        
multidict          
packaging           
paramiko           
pip                 
pyaes               
pyasn1              
pycparser           
pydantic            
pydantic_core       
pyfiglet            
PyNaCl              
pyTelegramBotAPI   
python-telegram-bot 
pytz                
pywin32            
requests            
rsa               
setuptools         
six                 
sniffio             
socksio            
sudo                
telebot            
Telethon           
tornado             
typing_extensions   
tzdata              
tzlocal             
urllib3             
wheel              
yarl                